.tic-tac-toe {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: max-content;
}

.square {
    border: 1px solid red;
    float: left;
    font-size: 40px;
    width: 100px;
    height: 100px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

.restartBtn {
    padding: 10px 15px;
    border: none;
    background: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}